<!DOCTYPE html>
<html lang="en">

<head>
    <title>Political History</title>
    <link rel="icon" href="images/favicon.png">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
    <script src="js/frontend_app.js"></script>

</head>

<body ng-app="presidents_app" class="container">
    <div ng-controller="presidents_data">

        <div class="navbar navbar-default navbar-fixed-top">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">The Presidents: {{presidents.length}} in total...</a>
                <form class="navbar-form navbar-right">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search for president" ng-model="filter_name.president">
                    </div>
                </form>
                <p uib-alert ng-if="show" close="closeAlert()" dismiss-on-timeout="2000">{{message}}</p>
            </div>
        </div>

        <form>
            <input type="number" class="form-control" ng-model="input_number" placeholder="president no">
            <input type="text" class="form-control" ng-model="input_name" placeholder="name">
            <input type="text" class="form-control" ng-model="input_birth" placeholder="birth">
            <input type="date" class="form-control" ng-model="input_took_office" placeholder="took office">
            <div class="form-group">
                <input type="radio" ng-model="party" value="Democrat"> Democrat
                <input type="radio" ng-model="party" value="Republican"> Republican
            </div>
            <button class="btn btn-primary" ng-click="create()">create new president</button>
        </form>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <a href="#" ng-click="sortType = '_id'; sortReverse = !sortReverse">
                            _id
                            <span ng-show="sortType == '_id' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == '_id' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>
                        <a href="#" ng-click="sortType = 'president'; sortReverse = !sortReverse">
                            name
                            <span ng-show="sortType == 'president' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'president' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>
                        <a href="#" ng-click="sortType = 'age'; sortReverse = !sortReverse">
                            age
                            <span ng-show="sortType == 'age' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'age' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>party</th>
                    <th></th>
                    <th>
                        <a href="#" ng-click="sortType = 'time_in_office'; sortReverse = !sortReverse">
                            years in office
                            <span ng-show="sortType == 'time_in_office' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'time_in_office' && sortReverse" class="fa fa-caret-up"></span>
                        </a>
                    </th>
                    <th>update</th>
                    <th>delete</th>
                </tr>
            </thead>
            <tbody ng-repeat="president in presidents | orderBy:sortType:sortReverse | filter: filter_name">
                <tr ng-class="{'republican': president.party == 'Republican', 'democrat': president.party == 'Democratic'}">
                    <td>{{president._id}}</td>
                    <td>
                        <input type="text" ng-model="president.president">
                    </td>
                    <td>
                        {{president.age}}</td>
                    <td>
                        <input type="text" ng-model="president.party">
                    </td>
                    <td>
                        <span ng-if="president.party == 'Republican'">
                            <img class="logo" src="images/rep.png" alt="">
                        </span>
                        <span ng-if="president.party == 'Democratic'">
                            <img class="logo" src="images/dem.png" alt="">
                        </span>
                    </td>
                    <td>
                        {{president.time_in_office | number: 2}}
                    </td>
                    <td>
                        <button class="btn btn-warning" ng-click="update(president)">update</button>
                    </td>
                    <td>
                        <button class="btn btn-danger" ng-click="delete(president)">delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>

</html>